@import url("https://use.typekit.net/ulo1dho.css");

body {
  font-family: 'Caslon', serif;
}

.App {
  text-align: center;
  background-color: #282828;
  color: #d1fdb1;
  font-size: 150%;
  padding-bottom: 75px;
}

h1, h2, h3, h4 {
  font-family: 't26-carbon', monospace;
  font-weight: normal;
}

h1 { font-size: 5rem; }
h2{ font-size: 4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2rem; }

.module {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
 }

 .column {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 }

 .module .box {
  padding: 0px 50px;
  width: calc(50% - 100px);
 }

.rule {
  background: #d1fdb1;
  width: 42px;
  height: 4px;
  margin: 75px auto;
}

p.tight {
  margin: 0px;
}

a { color: #d1fdb1; }

a.button { font-family: 't26-carbon', monospace; border: 1px solid #d1fdb1; padding: 12px 18px; text-decoration: none; text-transform:uppercase; letter-spacing: 0.05em;}
a.button:hover { background: #d1fdb1; color: #282828;}

.tag {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #282828;
}

.tag h2 {
  font-family: 't26-carbon', monospace;
  font-size: 21px;
  text-align: left;
  font-weight: 300;
}

.manifest {
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  text-align: left;
  font-size: 1.35rem;
  line-height: 1.85rem;
}

.manifest h3 { padding-left: 50px;}

.App-header {
  font-family: 't26-carbon', monospace;
  background-color: #d1fdb1;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.border { 
  /* border: 1px solid #282828;
  padding: 50px; */
  width: max-content;
  background: linear-gradient(90deg, #282828 50%, transparent 50%), linear-gradient(90deg, #282828 50%, transparent 50%), linear-gradient(0deg, #282828 50%, transparent 50%), linear-gradient(0deg, purple 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
  padding: 50px;
  animation: border-dance 8s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}

.matter {
  border: 1px solid #d1fdb1;
  padding: 50px;
  margin-bottom: 50px;
  width: calc(100% - 100px);
 }
 
 .matter-img {
   width: 100%;
 }
 
 .button-row {
    margin-top: 25px;
    display: flex;
    justify-content: center;
 }



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .module .box {
    padding: 0px 35px;
    width: calc(100% - 70px);
  }

  .matter {
    margin: 50px;
    padding: 50px;
  }
}
