@import url("https://use.typekit.net/ulo1dho.css");

body {
  font-family: 'Caslon', serif;
}

.App {
  text-align: center;
  background-color: #282828;
  color: #d1fdb1;
  font-size: 150%;
  padding-bottom: 75px;
}

h1, h2, h3, h4 {
  font-family: 't26-carbon', monospace;
  font-weight: normal;
}

h1 { font-size: 5rem; }
h2{ font-size: 4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2rem; }

.rule {
  background: #d1fdb1;
  width: 42px;
  height: 4px;
  margin: 75px 0px;
}

a { color: #d1fdb1; }

a.button { border: 1px solid #d1fdb1; padding: 6px 12px; text-decoration: none;}

.tag {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin: 0 auto;
}

.tag h2 {
  font-family: 't26-carbon', monospace;
  font-size: 21px;
  text-align: left;
  font-weight: 300;
}

.manifest {
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  text-align: left;
  font-size: 1.35rem;
  line-height: 1.85rem;
}

.manifest h3 { padding-left: 50px;}

.manifest .module .box {
  padding: 0px 50px;
  width: calc(50% - 100px);
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 25px;
  font-family: 't26-carbon', monospace;
  background-color: #d1fdb1;
}

.border { 
  border: 1px solid #282828;
  padding: 50px;
  width: calc(100% - 100px);
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center top;
}

.matter {
  margin: 25px auto;
  border: 1px solid #d1fdb1;
  padding: 35px;
 }
 
 .matter-img {
   max-width: 520px;
   width: 100%;
 }
 
 .button-row {
  margin-top: 25px;
   display: flex;
   justify-content: center;
 }

 .module {
  display: flex;
  flex-wrap: wrap;
 }

 .module .box {
  width: 50%;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
